%control-properties {
    display: inline-block;
    transition: padding 0.3s ease-in-out;
    position: relative;
    font-family: $font-family-default;
    font-size: rem(17px);
    background: $color-white;
    color: $color-black;
    padding: rem(15px)  rem(24px) rem(15px) rem(24px);
    text-decoration: none;
    border-radius: 0;
    line-height: 16px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

%focus-properties {
    color: $color-white;
    background: $color-black;
}

.btn-center{
    text-align: center;
}

.btn {
    transition: all 0.2s ease-in-out;
    @extend %control-properties;
    &:hover{
        // @extend %focus-properties;
    }
}

.btn-bordered{
    border: 1px solid $color-black;
    background: transparent;
    color: $color-black;
    svg{
        display: none;
    }
    &:hover{
        background-color: $color-black;
        color: $color-white;
    }
}

.btn-black{
    background-color: #3E3939;
    color: $color-white;
    border: 1px solid transparent;
    &:hover{
        background-color: transparent;
        color: #3E3939;
        border-color: #3E3939;
    }
}

.btn-grey{
    background-color: transparent;
    padding: rem(16px)  rem(30px) rem(16px) 8px;
    &::after, &::before{
        content: '';
        position: absolute;
        width: 18px;
        aspect-ratio: 1 / 1;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(images/chevron-right.svg);
    }
    &::after{
        right: 0px;
        transition: all 0.4s ease-out;
    }
    &::before{
        left: -10px;
        transition: all 0.4s ease-out;
        opacity: 0;
    }

    span{
        position: relative;
        right: 0;
        transition: right 0.4s ease-in-out;
    }

    &:hover{
        span{
            right: -20px;
        }
        &::after{
            right: -6px;
            opacity: 0;
        }
        &::before{
            left: 5px;
            transition: all 0.6s ease-in;
            opacity: 1;
        }
    }
}


#site-container .gform_wrapper {}