%control-properties {
    display: inline-block;
    transition: padding 0.3s ease-in-out;
    position: relative;
    font-family: $font-family-default;
    font-size: rem(17px);
    background: $color-white;
    color: $color-black;
    padding: rem(16px)  rem(24px) rem(16px) 54px;
    text-decoration: none;
    border-radius: 0;
    line-height: 1;
    overflow: hidden;
    border-radius: 5px;
}

%focus-properties {
    // color: $color-white;
    // background: $color-black;
}

.btn-center{
    text-align: center;
}

.btn {
    transition: all 0.2s ease-in-out;
    @extend %control-properties;
    &:hover{
        @extend %focus-properties;
    }
}

form{
    position: relative;
    max-width: rem(700px);
    input[type=text]{
        background: $color-white;
        height: rem(60px);
        padding: rem(20px) rem(30px);
        border-radius: rem(30px);
        @include placeholder{
            color: rgba($color-black, 0.6);
            font-weight: 400;
        }
    }
    input[type=submit]{
        position: absolute;
        top: 0;
        right: 0;
        background: $color-black;
        height: rem(60px);
        border-radius: rem(30px);
        color: $color-white;
        font-weight: 800;
        padding: 0 rem(30px);
        text-transform: uppercase;
        &:hover{
            cursor: pointer;
        }
    }
}

#site-container .gform_wrapper {}