.wrapper{
    position: relative;
}

.hero{
    position: relative;
    height: 100dvh;
    overflow: hidden;

    .shape-bottom{
        position: absolute;
        z-index: 1;
        bottom: -1px;
        right: 25px;
        width: 30vw;
        max-width: 414px;
        @include breakpoint-tablet {
            right: 40px;
        }
    }

    .hero-image{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::before{
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3253676470588235) 0%);
        }
    }
    .wrapper{
        display: flex;
        z-index: 2;
        height: 100%;
        align-items: center;
        .hero-content{
            max-width: 33ch;
            margin-top: auto;
            margin-bottom: 122px;
            @include breakpoint-tablet {
                margin: 0;
                max-width: 56ch;
            }
            h1{
                color: $color-white;
            }
            .btn{
                padding: rem(16px)  rem(24px) rem(16px) 54px;
                &::after, &::before{
                    content: '';
                    position: absolute;
                    width: 18px;
                    aspect-ratio: 1 / 1;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url(images/chevron-right.svg);
                }
                &::after{
                    right: -5px;
                    transition: all 0.4s ease-out;
                    opacity: 0;
                }
                &::before{
                    left: 24px;
                    transition: all 0.4s ease-out;
                }
            
                span{
                    position: relative;
                    left: 0;
                    transition: left 0.4s ease-in-out;
                }
            
                &:hover{
                    span{
                        left: -20px;
                    }
                    &::after{
                        right: 15px;
                        opacity: 1;
                        transition: all 0.6s ease-in;
                    }
                    &::before{
                        left: -10px;
                        opacity: 0;
                    }
                }
            }
        }
    }
}
.swiper {
    width: 100%;
    height: 100%;
    .swiper-pagination{
        bottom: 39px !important;
        @include breakpoint-tablet{
            bottom: 80px !important;
        }
    }
    .swiper-pagination-bullet {
        background-color: #AAA;
        border-radius: 0px ;
        width: 72px;
        height: 4px;
        margin: 0 10px !important;
        opacity: 1;
        @include breakpoint-tablet{
            width: 145px;
        }
        @include breakpoint-desktop-small{
            width: 224px;
        }
        &.swiper-pagination-bullet-active{
            background-color: #FFFFFF;
        }
        p{
            color: #fff;
            margin-top: -35px;
            font-size: 12px;
        }
    }
  
}

.btns{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.selling-points{
    padding: rem(60px) 0;
    background: #CCCCCC url(/images/background.png) no-repeat center center;
    background-size: cover;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        @include breakpoint-tablet{
            justify-content: center;
        }
        .selling-points-item{
            max-width: 100%;
            @include breakpoint-tablet{
                max-width: 292px;
            }

            .selling-points-item-icon{
                padding: 4px;
                width: 40px;
                aspect-ratio: 1 / 1;
                margin-bottom: 12px;
                @include breakpoint-tablet{
                    width: 48px;
                    margin-bottom: 24px;
                }
            }
            .selling-points-item-text{
                h3{
                    color: #3E3939;
                    font-size: rem(20px);
                    margin-bottom: 24px;
                    @include breakpoint-tablet{
                        font-size: rem(24px);
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

.header-image{
    position: relative;
    width: 100%;
    height: rem(300px);
    display: flex;
    flex-wrap: wrap;
    @include breakpoint-desktop-small{
        height: rem(430px);
    }
}

.header-image-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overview{
    .wrapper{
        @include grid-layout(4, 24px, 24px);
        @include breakpoint-tablet{
            @include grid-layout(12, 32px, 32px);
        }
    }
}

.overview-item{
    position: relative;
    display: block;
    text-decoration: none;
    min-height: rem(430px);
    padding: rem(30px);
    display: flex;
    align-items: flex-end;
    background: $color-black;
    overflow: hidden;
}

.overview-card-item{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-end: span 6;
    @include grid-column-span(4);
    @include breakpoint-tablet{
        @include grid-column-span(6);
    }
    
    .overview-card-item-text{
        padding: 24px;
        @include breakpoint-tablet{
            padding: 36px 48px;
        }
    }
}

.overview-card-item-image{
    display: block;
    height: 188px;
    overflow: hidden;
    cursor: pointer;
    @include breakpoint-tablet{
        height: 360px;
    }
    img{
        transition: all 0.5s ease-in-out;
    }
    &:hover{
        img{
            transform: scale(1.05);
        }
    }
}

.text-image{
    background-color: $color-grey-light;
    .wrapper{
        @include grid-layout(2, 77px, 32px);
    }
}

.text-image-content{
    margin-bottom: 16px;
    @include grid-column-span(2);
    @include breakpoint-tablet{
        @include grid-column-span(1);
        align-self: center ;
        p{
            font-size: 18px;
        }
    }
}

.text-image-image{
    @include grid-column-span(2);
    height: 188px;
    @include breakpoint-tablet{
        @include grid-column-span(1);
        height: 416px;
    }
}

.quote{
    position: relative;
    @include breakpoint-desktop-small{
        padding: 168px 0;
    }
    .wrapper{
        display: flex;
        z-index: 2;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}
.quote-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-black;
        opacity: 50%;
    }
}
.quote-content{
    margin-top: 39px;
    max-width: 1024px;
    h2{
        font-family: $font-family-title;
        color: $color-white;
        margin-bottom: 33px;
        letter-spacing: -1px;
        @include breakpoint-desktop-small{
            letter-spacing: 0;
        }
    }
    .btn-grey{
        background-color: transparent;
        color: $color-white;
       &::after, &::before{
            background-image: url(images/chevron-right-white.svg);
       }
    }
    .btn-bordered{
        border-color: $color-white;
        color: $color-white;
        &:hover{
            background-color: $color-white;
            color: $color-black;
        }
    }
}

.review-slider{
    background-color: $color-grey-light;
    .wrapper{
        overflow: hidden;
    }
}


.review-slider-title{
    margin-bottom: 50px;
    @include breakpoint-desktop-small{
        margin-bottom: 80px;
    }
}
.reviews-slider-items{
    display: flex;
    margin-bottom: 70px;
    @include breakpoint-desktop-small{
        flex-direction: row;
        gap: 64px;
    }
    .review-slider-item{
 
        @include breakpoint-desktop-small{
            max-width: 592px;
        }
        .stars{
            margin-bottom: 20px;
        }
        p{  
            font-size: 18px;
            margin-right: 30px;
            font-weight: bold;
            line-height: 140%;
            @include breakpoint-desktop-small{
                font-size: 20px;
            }
        }
    }
}
.employer-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include breakpoint-desktop-small{
        gap: 0;
        flex-direction: row;
    }
.employer-info-user{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
    @include breakpoint-desktop-small{
        gap: 20px;
        align-items: center;
        flex-direction: row;
        border-right: 1px solid #000;
    }
    .employer-info-image{
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
    }
  .employer-info-text{
    h5{
        font-size: 16px;
        font-weight: bold;
    }
    p{
        font-size: 16px;
        font-weight: normal;
        margin: 0;
    }
  }
}
.employer-company-logo{
    width: 120px;
    height: 48px;
    display: flex;
    @include breakpoint-desktop-small{
        margin-left: 20px;
        align-self: center;    
    }
}
}

.slider-controls{
    display: flex;
    justify-content: space-between;
    .swiper-pagination{
        position: relative;
        width: auto !important;
        .swiper-pagination-bullet{
            background-color: #000;
        }
    }
    .controls{
        display: flex;
        gap: 13px;
        .swiper-button-prev, .swiper-button-next{
            position: relative;
            border-radius: 50%;
            width: 42px;
            aspect-ratio: 1 / 1;
            border: 1px solid #000;
            top: 4px;
            left: 0;
            right: 0;
            &::after{
                color: #000;
                font-size: 8px;
                font-weight: bold;
            }
        }
    }
}