.wrapper{
    position: relative;
}

.tabs{
    display: none;
    width: 100%;
    padding: 0;
    position: absolute;
    bottom: 100px;
    color: #fff;
    text-align: center;
    .swiper-wrapper{
        display: flex;
        gap: 20px;
        justify-content: center;
        text-align: center;
        align-items: center;
        transform: translate3d(0, 0, 0) !important;
        .swiper-slide{
            width: 145px !important;
            cursor: pointer;
            @include breakpoint-desktop-small {
                width: 224px !important;
            }
            p{
                font-size: 12px;
                margin-bottom: 0;
            }
        }
    }
    @include breakpoint-tablet {
        display: block;
    }
}

.hero{
    position: relative;
    height: 100dvh;
    overflow: hidden;

    .shape-bottom{
        position: absolute;
        z-index: 1;
        bottom: -1px;
        right: 25px;
        width: 30vw;
        max-width: 414px;
        @include breakpoint-tablet {
            right: 40px;
        }
    }

    .hero-image{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::before{
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3253676470588235) 0%);
        }
    }
    .wrapper{
        display: flex;
        z-index: 2;
        height: 100%;
        align-items: center;
        .hero-content{
            max-width: 33ch;
            margin-top: auto;
            margin-bottom: 122px;
            @include breakpoint-tablet {
                margin: 0;
                max-width: 56ch;
            }
            h1, p{
                color: $color-white;
            }
            
            p{
                font-size: 16px;
                @include breakpoint-tablet {
                    font-size: 18px;
                }
            }
            .btn{
                padding: rem(16px)  rem(24px) rem(16px) 54px;
                &::after, &::before{
                    content: '';
                    position: absolute;
                    width: 18px;
                    aspect-ratio: 1 / 1;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url(images/chevron-right.svg);
                }
                &::after{
                    right: -5px;
                    transition: all 0.4s ease-out;
                    opacity: 0;
                }
                &::before{
                    left: 24px;
                    transition: all 0.4s ease-out;
                }
            
                span{
                    position: relative;
                    left: 0;
                    transition: left 0.4s ease-in-out;
                }
            
                &:hover{
                    span{
                        left: -20px;
                    }
                    &::after{
                        right: 15px;
                        opacity: 1;
                        transition: all 0.6s ease-in;
                    }
                    &::before{
                        left: -10px;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.hero-home{
    .wrapper{
        .hero-content{
            h1{
                max-width: 10ch;
                margin-bottom: 20px;
                @include breakpoint-tablet {
                    margin-bottom: 24px;
                }
            }
            .btn-bordered{
                border-color: $color-white;
                color: $color-white;
                &:hover{
                    border-color: #000;
                }
            }
            .btn{
                &::after, &::before{
                    display: none;
                }
                padding: rem(16px)  rem(24px) rem(14px) 24px;
                &:hover{
                    span{
                        left: 0;
                    }
                    @extend %focus-properties;
                }
            }
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
    .swiper-pagination{
        bottom: 39px !important;
        @include breakpoint-tablet{
            bottom: 80px !important;
        }
    }
    .swiper-pagination-bullet {
        background-color: #AAA;
        border-radius: 0px ;
        width: 72px;
        height: 4px;
        margin: 0 10px !important;
        opacity: 1;
        @include breakpoint-tablet{
            width: 145px;
        }
        @include breakpoint-desktop-small{
            width: 224px;
        }
        &.swiper-pagination-bullet-active{
            background-color: #FFFFFF;
        }
        p{
            color: #fff;
            margin-top: -35px;
            font-size: 12px;
        }
    }
  
}

.btns{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.selling-points{
    padding: rem(60px) 0;
    background: #CCCCCC url(/images/background.png) no-repeat center center;
    background-size: cover;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        @include breakpoint-tablet{
            justify-content: center;
        }
        .selling-points-item{
            max-width: 100%;
            @include breakpoint-tablet{
                max-width: 292px;
            }

            .selling-points-item-icon{
                padding: 4px;
                padding-bottom: 0;
                width: 40px;
                aspect-ratio: 1 / 1;
                margin-bottom: 12px;
                @include breakpoint-tablet{
                    width: 48px;
                    margin-bottom: 24px;
                }
            }
            .selling-points-item-text{
                h2{
                    color: #3E3939;
                    font-size: rem(20px);
                    margin-bottom: 24px;
                    @include breakpoint-tablet{
                        font-size: rem(24px);
                        margin-bottom: 30px;
                    }
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}

.overview{
    .wrapper{
        @include grid-layout(4, 24px, 24px);
        @include breakpoint-tablet{
            @include grid-layout(12, 32px, 32px);
        }
    }
}

.overview-item{
    position: relative;
    display: block;
    text-decoration: none;
    min-height: rem(430px);
    padding: rem(30px);
    display: flex;
    align-items: flex-end;
    background: $color-black;
    overflow: hidden;
}

.overview-card-item{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-end: span 6;
    @include grid-column-span(4);
    @include breakpoint-tablet{
        @include grid-column-span(6);
    }
    
    .overview-card-item-text{
        padding: 24px;
        @include breakpoint-tablet{
            padding: 36px 48px;
        }
    }
}

.overview-card-item-image{
    display: block;
    overflow: hidden;
    cursor: pointer;
    img{
        // height: 188px;
        transition: all 0.5s ease-in-out;
        @include breakpoint-tablet{
            height: 100%;
        }
    }
    &:hover{
        img{
            transform: scale(1.05);
        }
    }
}

.text-image{
    background-color: $color-grey-light;
    .wrapper{
        @include grid-layout(2, 77px, 32px);
    }
}
.text-image-reverse{
    .text-image-content{
        margin-bottom: 16px;
        @include grid-column-span(2);
        @include breakpoint-tablet{
            @include grid-column-span(1);
            align-self: center ;
            p{
                font-size: 18px;
            }
        }
    }
    
    .text-image-image{
        @include grid-column-span(2);
        height: 188px;
        @include breakpoint-tablet{
            height: auto;
            @include grid-column-span(1);
        }
    }       
}

.text-image-content{
    margin-bottom: 16px;
    @include grid-column-span(2);
    @include breakpoint-tablet{
        @include grid-column-span(1);
        align-self: center ;
        p{
            font-size: 18px;
        }
    }
}

.text-image-image{
    @include grid-column-span(2);
    height: 188px;
    @include breakpoint-tablet{
        height: auto;
        @include grid-column-span(1);
    }
}

.text-image-reverse{
    .text-image-content{
        @include grid-column-span(2);
        @include breakpoint-tablet{
            @include grid-column-span(1);
            @include grid-column-start(2);
        }
    }
    
    .text-image-image{
        @include grid-column-span(2);
        @include breakpoint-tablet{
            @include grid-column-span(1);
            @include grid-column-start(1);
            @include grid-row-start(1);
        }
    }       
}

.quote{
    position: relative;
    @include breakpoint-desktop-small{
        padding: 168px 0;
    }
    .wrapper{
        display: flex;
        z-index: 2;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}
.quote-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.dark{
    &::before{
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 50%;
    }
}
.quote-content{
    max-width: 1024px;
    @include breakpoint-desktop-small{
        margin-top: 39px;
    }
    blockquote{
        font-family: $font-family-title;
        color: $color-white;
        margin-bottom: 33px;
        @include breakpoint-tablet{
            letter-spacing: 0;
        }
    }
    .btn-grey{
        background-color: transparent;
        color: $color-white;
       &::after, &::before{
            background-image: url(images/chevron-right-white.svg);
       }
    }
    .btn-bordered{
        border-color: $color-white;
        color: $color-white;
        &:hover{
            background-color: $color-white;
            color: $color-black;
        }
    }
}

.review-slider{
    background-color: $color-grey-light;
    .wrapper{
        overflow: hidden;
    }
}


.review-slider-title{
    margin-bottom: 50px;
    @include breakpoint-desktop-small{
        margin-bottom: 80px;
    }
}
.reviews-slider-items{
    display: flex;
    margin-bottom: 70px;
    @include breakpoint-desktop-small{
        flex-direction: row;
        gap: 64px;
    }
    .review-slider-item{
 
        @include breakpoint-desktop-small{
            max-width: 592px;
        }
        .stars{
            margin-bottom: 20px;
        }
        p{  
            font-size: 18px;
            margin-right: 30px;
            font-weight: bold;
            line-height: 140%;
            @include breakpoint-desktop-small{
                font-size: 20px;
            }
        }
    }
}
.employer-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include breakpoint-desktop-small{
        gap: 0;
        flex-direction: row;
    }
.employer-info-user{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
    @include breakpoint-desktop-small{
        gap: 20px;
        align-items: center;
        flex-direction: row;
        border-right: 1px solid #000;
    }
    .employer-info-image{
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
    }
  .employer-info-text{
    h5{
        font-size: 16px;
        font-weight: bold;
    }
    p{
        font-size: 16px;
        font-weight: normal;
        margin: 0;
    }
  }
}
.employer-company-logo{
    width: 120px;
    height: 48px;
    display: flex;
    @include breakpoint-desktop-small{
        margin-left: 20px;
        align-self: center;    
    }
}
}

.slider-controls{
    display: flex;
    justify-content: space-between;
    .swiper-pagination{
        position: relative;
        width: auto !important;
        .swiper-pagination-bullet{
            background-color: $color-black;
        }
    }
    .controls{
        display: flex;
        gap: 13px;
        .swiper-button-prev, .swiper-button-next{
            position: relative;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            border: 1px solid $color-black;
            top: 4px;
            left: 0;
            right: 0;
            &::after{
                color: $color-black;
                font-size: 8px;
                font-weight: bold;
            }
            &:hover{
                background-color: $color-black;
                &::after{
                    color: $color-white;
                }
            }
        }
    }
}

.nature-features{
    .wrapper{
        @include breakpoint-tablet{
            @include grid-layout(2, 80px, 35px);
        }
        p{
            margin-bottom: 50px;
            @include breakpoint-tablet{
                line-height: 150%;
               font-size: 18px;

           }
        }
    }
}
.nature-features-ups-items{
    
    display: flex;
    flex-direction: column;
    gap: 45px;
    @include breakpoint-tablet{
        flex-direction: row;
        @include grid-column-span(2);
        justify-content: space-between;
    }
}

.ups-item{
.ups-item-icon{
    margin-left: 7px;
}
.ups-item-text{
    h2{
        margin: 12px 0 30px 0;
        font-size: 20px;
        @include breakpoint-tablet{
            margin: 22px 0 26px 0;
            font-size: 24px;
        }
    }
    p{
        display: none;
        @include breakpoint-tablet{
            display: block;
            font-size: 16px;
            margin-bottom: 32px;
        }
    }

}
}

// slider-image-text

.slider-image-text{
    background-color: $color-white;
    position: relative;
    overflow: hidden;
    // &::before{
    //     @include breakpoint-desktop-small{
    //         content: '';
    //         width: 400px;
    //         height: 100%;
    //         background-color: hotpink;
    //         position: absolute;
    //         top: 0;
    //         left: -116px;
    //         z-index: 8;
    //     }
    // }
    // we need help
}


.slider-image-text-content{
    position: relative;
    margin-bottom: 48px;
    @include breakpoint-tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

    }
    .slider-image-text-content-text{
        @include breakpoint-tablet{
            max-width: 500px;
        }
        @include breakpoint-desktop-small{
            max-width: 768px;
        }
        p:has(strong){
            margin-bottom: 16px;
        }
        h2{
            margin-bottom: 10px;
            @include breakpoint-tablet{
                margin-bottom: 20px;
            }
        }
        p{
            font-size: 16px;
            @include breakpoint-tablet{
                font-size: 18px;
                line-height: 150%;
                
            }
        }
    }

}
.slider-image-text-items{

    display: flex;
    margin-bottom: 70px;
    gap: 32px;
    @include breakpoint-desktop-small{
        flex-direction: row;
        gap: 32px;
    }

}
.slider-image-text-item{

    .btn{
        display: flex;
        justify-content: center;
        padding: rem(12px)  rem(24px) rem(10px) 24px;
    }
}
.silder-image-item{

    display: block;
    height: 198px;
    margin-bottom: 16px;
    @include breakpoint-tablet{
        height: 300px;
    }
    >img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
 
}
.slider-item-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    .slider-item-text{
        h4{
            font-size: 18px;
            margin-bottom: 0;
            line-height: 150%;
        }
        p{
            margin-bottom: 0;
            font-size: 14px;
        }
    }
    .slider-item-price{
        h4{
            font-size: 20px;
        }
    }
}
.faq{
    background-color: $color-grey-light;
}

.faq .wrapper{
    display: flex;
    flex-direction: column;
    @include breakpoint-tablet {
        flex-direction: row;
        gap: 80px;
    }
    .faq-title{
        max-width: 464px;
    }
    .details{
        max-width: 768px;
        margin-bottom: 48px;
        @include breakpoint-tablet {
            margin-bottom: 80px;
        }
        p{
            margin-bottom: 16px;
        }
        .detail-items{
            display: none;
            @include breakpoint-tablet {
                margin-bottom: 80px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 32px;
            }
            .detail-item{
                min-width: 168px;
                &:last-child{
                    min-width: auto;
                }
                h3{
                    font-size: 20px;
                    line-height: 140%;
                    margin-bottom: 8px;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}

.faq-items{
    width: 100%;
    .faq-item{
        padding: 20px 0;
        width: 100%;
        border-top: 1px solid $color-black;
        .question{
            display: flex;
            justify-content: space-between;
        }
        &:last-child{
            border-bottom: 1px solid $color-black;
        }
        h4{
            font-size: 18px;
            margin-bottom: 0;
            color: $color-black;
            @include breakpoint-tablet {
                font-size: 20px;
            }
        }
        svg{
            cursor: pointer;
            margin-right: 10px;
            transition: transform .3s ease-in;
        }
        .answer{
            max-height: 0;
            overflow: hidden;
            transition: all .3s ease-in-out;
            p{
                margin-top: 15px;
            }
        }
        &.active .answer{
            max-height: 300px;
        }
        &.active svg{
            transform: rotate(45deg);
        }
    }
}

.header-image{
    background-color: $color-grey-light;
    padding-top: 75px;
    @include breakpoint-tablet {
        padding-top: 160px;  
    }
}
.header-image-text{
    padding: 48px 0;
    @include breakpoint-tablet{
        padding: 80px 0;
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }
    h1{
        flex: 1;
        max-width: 616px;
      }
    .header-image-text-btn{
      flex: 1;
      @include breakpoint-desktop-small{
        max-width: 616px;
      }
     
    }
    P{
        @include breakpoint-tablet{
            font-size: 18px;
        }
    }
}

.header-image-image{
    width: 100%;
    height: 375px;
    @include breakpoint-desktop-small{
        height: 703px;
    }
    >img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.slider-image-text.normal{
    .slider-image-text-items{
        @include grid-layout(1);
        @include breakpoint-tablet {
            @include grid-layout(2);
        }
        @include breakpoint-desktop-small {
            @include grid-layout(3);
        }
    }
}

.form-dropdown{
    padding: 60px 0 90px 0;
    background-color: $color-grey-light;
    .wrapper form{
        display: flex;
        gap: 36px;
        // flex-wrap: wrap;
    }
    p{
        margin-bottom: 8px;
    }
    .item{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .ts-control, .ts-dropdown, .datepicker-container, .flatpickr-calendar {
        font-size: 16px;
        min-width: 296px;
        border-radius: 5px;
        padding: 12px;
        border: 1px solid #000;
        color: #000;
        background-color: transparent !important;
    }
    .option {
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .ts-dropdown .active {
        background-color: #f5fafd00;
        // color: #495c68;
        border-radius: 3px;
    }
    .btn{
        align-self: end;
    }
}

.datepicker-container{
    align-self: flex-end;
}