.price-list-title{
    text-align: center;
    h2{
      margin-bottom: 48px;
      @include breakpoint-tablet{
        margin-bottom: 80px;
      }
    }
}

.pricing-cards {
@include grid-layout(1);
@include breakpoint-tablet{
  @include grid-layout(8);
}
@include breakpoint-desktop-small{
  @include grid-layout(12);
}
}

.card{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 32px;
  background-color: #EEE;
  @include grid-column-span(1);
  @include breakpoint-tablet{
    @include grid-column-span(4);
  }
  @include breakpoint-desktop-small{
    @include grid-column-span(4);
  }

  .btn{
    text-align: center;
  }
  
  &.highlighted{
    background: url(/images/cardimage.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.card-header{
  .card-header-title{
    margin-bottom: 16px;
    @include breakpoint-desktop-small{
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      flex-wrap: wrap;
     gap: 30px;
    }
    .badge{
      display: inline-block;
      padding: 3px 12px;
      border-radius: 5px;
      background-color: #3E3939;
      color: white;
      margin-bottom: 32px;
      @include breakpoint-desktop-small{
        margin-bottom: 0;
      }
    }
    h4{
      margin-bottom: 0;
    }
  }
  h4{
    font-size: 20px;
    margin-bottom: 16px;
    @include breakpoint-tablet{
      font-size: 24px;
    }
  }
  .price{
      font-size: 24px;
      border-bottom: 1px solid $color-black;
  }
  .price-details{
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.card-text{
  margin: 34px 0 45px 0;
  ul{
    li{
      position: relative;
      margin: 0 0px 16px 40px;
      &::before{
        content: '';
        position: absolute;
        width: 18px;
        aspect-ratio: 1 / 1;
        top: 50%;
        left: -40px;
        transform: translateY(-50%);
        background-image: url(images/shape-right.svg);
        background-repeat: no-repeat;
        }
    }
    }
}

.logo-slider{
  overflow: hidden;
  background-color: $color-grey-light;
  h4{
    text-align: center;
    margin-bottom: 48px;
    font-size: 32px;
  }
  .swiper-slide{
    >img{
      width: 200px;
      height: 56px;
      object-fit: contain;
    }
  }
}

.selling-points{
  padding: rem(60px) 0;
  background: #CCCCCC url(/images/background.png) no-repeat center center;
  background-size: cover;
  .wrapper{
      display: flex;
      flex-wrap: wrap;
      gap: 48px;
        &.selling-points-3-items{
          .selling-points-item{
            @include breakpoint-tablet{
              min-width: 405px;
          }
          }
        }
      .selling-points-item{
          max-width: 100%;
          @include breakpoint-tablet{
              max-width: 292px;
          }

          .selling-points-item-icon{
              padding: 4px;
              padding-bottom: 0;
              width: 40px;
              aspect-ratio: 1 / 1;
              margin-bottom: 12px;
              @include breakpoint-tablet{
                  width: 48px;
                  margin-bottom: 24px;
              }
          }
          .selling-points-item-text{
              h2{
                  color: #3E3939;
                  font-size: rem(20px);
                  margin-bottom: 24px;
                  @include breakpoint-tablet{
                      font-size: rem(24px);
                      margin-bottom: 30px;
                  }
              }
              p{
                  margin-bottom: 0;
              }
          }
    }
  }
}

.contact{
  background-color: #EEE;
  .contact-content{
    display: flex;
    gap: 42px;
    flex-direction: column;
    @include breakpoint-desktop-medium {
      flex-direction: row;
      gap: 80px;
    }
  }
  .contact-text{
    max-width: 50ch;
  }
  .contact-form{
    p{
      margin-bottom: 8px;
    }
    .ts-control, .ts-dropdown, .datepicker-container, .flatpickr-calendar {
      font-size: 16px;
      min-width: 296px;
      border-radius: 5px;
      padding: 12px;
      border: 1px solid #000;
      color: #000;
      background-color: transparent !important;
      margin-bottom: 24px;
    }
    .item{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .inputs-groups{
      display: flex;
      gap: 24px;
      flex-direction: column;
      @include breakpoint-tablet {
        flex-direction: row;
      }
      .ts-control{
        min-width: 100%;
        @include breakpoint-tablet {
          min-width: 296px;
        }
      }
    }
  }
  .contact-detail{
    margin-bottom: 24px;
    @include breakpoint-tablet {
      margin-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
    .employer-info-contact, .contact-detail-content{
      margin-bottom: 24px;
      @include breakpoint-tablet {
        margin-bottom: 0;
      }
      p:has(strong){
        font-size: 20px;
      }
      p{
        margin-bottom: 20px;
        @include breakpoint-tablet {
          margin-bottom: 24px;
        }
      }
      .employer-image{
        display: block;
          height: 290px;
          @include breakpoint-tablet {
            height: 325px;
        }
      }
    }
    .contact-detail-content{
      @include breakpoint-desktop-small {
        min-width: 296px;
        
      }
      p{
        margin-bottom: 8px;
      }
      svg{
        margin-bottom: 16px;
      }
    }
  }
}

.blog{
  .wrapper{
    .blog-header{
      max-width: 65ch;
      margin-bottom: 48px;
      p{
        margin-bottom: 0;
      }
      p:has(strong){
        margin-bottom: 10px;
      }
      @include breakpoint-tablet {
        margin-bottom: 80px;
      }
    }
    .blog-text-image{
      display: flex;
      gap: 48px;
      flex-direction: column;
      align-items: center;
      margin-bottom: 48px;
      @include breakpoint-tablet {
        flex-direction: row;
        margin-bottom: 80px;
      }
      .blog-image{
        height: 221px;
        @include breakpoint-tablet {
          height: 350px;
        }
        @include breakpoint-desktop-small {
          height: 500px;
        }
      }
      .blog-text{
        .blog-text-info{
          p{
            margin-bottom: 0;
            font-size: 14px;
          }
        }
        p{
          margin-bottom: 24px;
        }
        .btn{
          padding: 0 32px 0 0;
        }
      }
    }
  }
}
.blog-text-info{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
  .categorie{
    padding: 4px 8px;
    background-color: #EEEEEE;
    border-radius: 5px;
  }
}

.blog-overview{
  .blog-overview-filtre{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 48px;
    @include breakpoint-tablet {
      margin-bottom: 64px;
    }
    .filtre-item{
      cursor: pointer;
      padding: 8px 16px;
      &.selected{
        border: 1px solid #000;
        border-radius: 5px;
      }
    }
  }
  p{
    margin-bottom: 0;
  }
}

.blogs-items{
  @include grid-layout(4);
  @include breakpoint-tablet {
    @include grid-layout(12);
  }
  .blog-item{
    @include grid-column-span(4);
    @include breakpoint-tablet {
      @include grid-column-span(6);
    }
    @include breakpoint-desktop-small {
      @include grid-column-span(4);
    }
    .blog-item-image{
      height: 221px;
      margin-bottom: 24px;
      @include breakpoint-tablet {
        height: 300px;
      }
    }
    .blog-item-text{
      p:has(strong){
        margin-bottom: 0px;
      }
      p{
        margin-bottom: 24px;
      }
      .btn{
        padding: 0 32px 0 0;
      }
    }
  }
}

.vacancies{
  .wrapper{
    display: flex;
    gap: 48px;
    flex-direction: column;
    @include breakpoint-tablet {
      flex-direction: row;
      gap: 80px;
    }

    .vacancies-title{
      max-width: 55ch;
      p{
        font-size: 18px;
        margin-bottom: 0;
      }
    }
    .vacancy-item{
      border-top: 1px solid #000;
      padding: 24px 0;
      @include breakpoint-tablet {
        padding: 30px 0;
      }
      &:last-child{
        padding-bottom: 0;
      }
      .vacancy-item-title{
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 16px;
        p, h4{
          margin: 0;
        }
        .vacancy-item-type{
          padding: 4px 8px;
          background-color: #EEEEEE;
          border-radius: 5px;
          font-size: 14px;
        }
      }
      p{
        margin-bottom: 24px;
      }
      .location-time{
        display: flex;
        gap: 24px;
        align-items: center;
        margin-bottom: 24px;
        @include breakpoint-tablet {
          margin-bottom: 32px;
        }
        
        p{
          margin: 0;
          font-size: 18px;
        }

        .location, .time{
          position: relative;
          padding-left: 36px;
          &::before{
            content: '';
            position: absolute;
            width: 20px;
            aspect-ratio: 1 / 1;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-image: url(/images/icon-location.svg);
            background-repeat: no-repeat;
          }
        }
        .time{
          &::before{
            background-image: url(/images/icon-clock.svg);
          }
        }
      }
    }
  }
}

.error{
  background-color: $color-grey-light;
  padding-top: 152px;
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .error-image{
    margin-bottom: 20px;
    
    img{
      width: 100px;
      height: 50px;
      object-fit: cover;
    }
  }
  
  .error-message{
    text-align: center;
    max-width: 560px;
  }
  
  .error-links{
    width: 100%;
    max-width: 560px;
    text-align: center;
    margin-bottom: 20px;
    
    .button-grid {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    
    .btn{
      display: flex;
      justify-content: center;
    }
  }
}

.socials{
  display: flex;
  align-items: center;
  gap: 12px;
  
  a{
    transition: scale 0.4s ease-in-out;
    
    &:hover{
      scale: 1.2;
    }
    
    img{
      height: auto;
    }
  }
} 

.nature-features-bg{
  background-color: $color-grey-light;
  .nature-features-ups-items{ 
    gap: 24px;
  .ups-item{
    max-width: 302px;
  }
}
}

.body-text{
  .wrapper{
    @include breakpoint-tablet{
      display: flex;
      gap: 80px;
    }
  }
  .sidebar{
    margin-bottom: 30px;
    h2{
      padding-bottom: 48px;
      margin-bottom: 48px;
      border-bottom: 1px solid $color-black;
    }
  }
}