@import url("https://p.typekit.net/p.css?s=1&k=uax1kzn&ht=tk&f=10296.10297.10300.10301&a=181206137&app=typekit&e=css");
@font-face {
    font-family: 'Blacker';
    src: url(/fonts/Extrabold.otf);
}

$html-font-size: 16px;

// Colors
$color-black: #000;
$color-white: #fff;
$color-grey: #E4E2DF;
$color-black-light: #3E3939;


// Fonts
$font-family-title: 'Blacker', sans-serif;
$font-family-default: 'brandon-grotesque', sans-serif;